* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
}

h1 {
    color: #008CBA;
    margin: 20px; 0;
    text-align: center;
}

.table-wrapper {
    padding: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background-color: #fff;
    margin-bottom: 5rem;
}

th, td {
    text-align: left;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}

th {
    background-color: #008CBA;
    color: #FFF;
}

td:first-child {
    font-weight: bold;
}

td:nth-child(2) {
    width: 80%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    color: #888;
    background-color: #f2f2f2;
    padding: 1rem;
}
footer a {
    color: #888;
}
footer a:hover {
    color: #333;
}

@media only screen and (max-width: 768px) {
    .table-wrapper {
        padding: .5rem;
    }

    table {
        width: 100%;
    }
    
    td:nth-child(2) {
        width: 100%;
    }
}